@model FakeWebcomic.Client.Models.ComicPageViewModel

@{
    Layout = "_Layout";
}

@{
    ViewData["WebcomicTitle"] = Model.ComicBook.Title;
    ViewData["PageTitle"] = Model.PageTitle;
    ViewData["WebcomicId"] = Model.WebcomicId;
}
<section name="comic">
    <h1 class="justify-content-center">@Model.ComicNumber. @Model.PageTitle</h1>

    <nav class="navbar navbar-extend-sm justify-content-center" name="topnav">
        <p></p>
        <p></p>
        <!--No links to previous or first comic-->
        <a class="nav-link text-dark" asp-area="" asp-controller="Comics" asp-action="GetPage(@Model.WebcomicId,@Model.RandomPageNumber)">?</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Comics" asp-action="GetArchive(@Model.WebcomicId)">||</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Comics" asp-action="GetPage(@Model.WebcomicId,@Model.NextPageNumber)">></a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Comics" asp-action="GetPage(@Model.WebcomicId,0)">>></a>
    </nav>

    <img src="@Model.ComicPath" alt="@Model.ComicAltText" name="comicimg"/>
    <!--Want to make it so clicking on the comic will take you to the next page.
    Best done with JS? Or can you make an img into a button more directly?
    Very noncritical.-->

    <nav class="navbar navbar-extend-md justify-content-center" name="botnav">
        <p></p>
        <p></p>
        <!--No links to previous or first comic-->
        <a class="nav-link text-dark" asp-area="" asp-controller="Comics" asp-action="GetPage(@Model.WebcomicId,@Model.RandomPageNumber)">random</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Comics" asp-action="GetArchive(@Model.WebcomicId)">archive</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Comics" asp-action="GetPage(@Model.WebcomicId,@Model.NextPageNumber)">next ></a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Comics" asp-action="GetPage(@Model.WebcomicId,0)">latest >></a>
    </nav>
</section>
