@Model [page model]

@{
    Layout = "_Layout";
}

@{
    ViewData["WebcomicTitle"] = Model.ComicBook.Title;
    ViewData["PageTitle"] = Model.PageTitle;
    ViewData["WebcomicId"] = Model.WebcomicId;
}

<section name="comic">
    <h1 class="justify-content-center">@Model.ComicNumber. @Model.IndividualTitle</h1>

    <nav class="navbar navbar-extend-sm justify-content-center" name="topnav">
        <a class="nav-link text-dark" asp-area="" asp-controller="Comics" asp-action="GetPage(@Model.WebcomicId,@Model.FirstPageNumber)"><<</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Comics" asp-action="GetPage(@Model.WebcomicId,@Model.PreviousPageNumber)"><</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Comics" asp-action="GetPage(@Model.WebcomicId,@Model.RandomPageNumber)">?</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Comics" asp-action="GetArchive(@Model.WebcomicId)">||</a>
        <p></p>
        <p></p>
        <!--No next or last page, because this is it-->
    </nav>

    <img src="@Model.ComicPath" alt="@Model.ComicAltText" name="comicimg"/>
    <!--No link to next comic, for sure-->

    <nav class="navbar navbar-extend-md justify-content-center" name="botnav">
        <a class="nav-link text-dark" asp-area="" asp-controller="Comics" asp-action="GetPage(@Model.WebcomicId,@Model.FirstPageNumber)"><< first</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Comics" asp-action="GetPage(@Model.WebcomicId,@Model.PreviousComicNumber)">< previous</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Comics" asp-action="GetPage(@Model.WebcomicId,@Model.RandomComicNumber)">random</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Comics" asp-action="GetArchive(@Model.WebcomicId)">archive</a>
        <p></p>
        <p></p>
        <!--No next or last page, because this is it-->
    </nav>
</section>
