@model FakeWebcomic.Client.Models.ComicArchiveViewModel

@{
    Layout = "_Layout";
}

@{
    ViewData["WebcomicTitle"] = Model.ComicBook.Title;
    ViewData["PageTitle"] = "Archive";
}

@foreach (var comicpage in Model.ComicBook.ComicPages)
{
    <a type="button" method="get" asp-controller="Comics" asp-action="GetPage" asp-route-webcomicname="@Model.ComicBook.Title" asp-route-pagenumber="@comicpage.PageNumber">
        @comicpage.PageNumber. @comicpage.PageTitle
    </a>
    <button type="submit" method="get" asp-controller="Comics" asp-action="GetUpdatePage" asp-route-webcomicname="@Model.ComicBook.Title" asp-route-pagenumber="@comicpage.PageNumber">Modify Page</button>
    <button type="submit" formtarget="_blank" method="get" asp-controller="Comics" asp-action="DeletePage" asp-route-webcomicname="@Model.ComicBook.Title" asp-route-pagenumber="@comicpage.PageNumber">Delete Page</button>
}
<button type="submit" method="get" asp-controller="Comics" asp-action="GetNewPage" asp-route-webcomicname="@Model.ComicBook.Title">Add New Page</button>
